<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>preferencedeclinaison</name>
	<displayName><![CDATA[Preferences de livraison pour les déclinaisons de produits]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Ajoute des preferences de livraison pour les déclinaisons de produits]]></description>
	<author><![CDATA[Valentin Duplan]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
